<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <style>
    #load {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        display: block;
        opacity: 0.8;
        background: white;
        z-index: 99;
        text-align: center;
        }
    
    #load > img {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 100;
        }
    </style>
    <script >
        const loading_page = document.getElementById("load");
        window.onload = function(){
          loading_page.style.display = 'none';
        }
      </script>
</head>
<body>
    <div id="load">
        <img src="img/loading.gif" alt="loading">
    </div>
      
      
</body>
</html>
